.footer {
    background: url(../../assets/images/start-screen-gradient-background.png) no-repeat;
    background-size: cover;
    display: flex;

    &__main {
        justify-content: end;
        position: absolute;
        left: 0%;
        right: 0%;
    }

    &__pets {
        justify-content: center;
        align-items: end;
        padding-top: 4.0rem;
    }
}

.block {
    width: 120.0rem;
    display: flex;

    @include media-tablet {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 6.8rem;
}

.footer__title {
    color: #FFFFFF;
    margin-bottom: 4.0rem;
}

.footer__links {
    text-decoration: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 4.4rem;
    color: #F1CDB3;

    &>img {
        margin-right: 20px;
    }
}

.limiter_block_footer_pets {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    @include media-tablet {
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}

.footer_puppy {
    @include media-tablet {
        width: 300px;
        margin: auto;
    }
}